:root {
  --color-bg: #0f0f0f;
  --color-text: #ffffff;
  --color-muted: #999999;

  --board-bg: #2a2a2a;
  --square-bg: #1a1a1a;
  --square-border: #444444;
  --square-hover-bg: #222222;
  --square-winner-bg: #154c2e;
  --square-winner-border: #1db954;
}

:root[data-theme="dark"], [data-theme="dark"] {
  --color-bg: #0f0f0f;
  --color-text: #ffffff;
  --color-muted: #999999;

  --board-bg: #353434;
  --board-footer: #212020;
  --square-bg: #1a1a1a;
  --square-border: #444444;
  --square-hover-bg: #222222;
  --square-winner-bg: #154c2e;
  --square-winner-border: #1db954;
}

:root[data-theme="light"], [data-theme="light"] {
  --color-bg: #ffffff;
  --color-text: #111111;
  --color-muted: #555555;

  --board-bg: #f2f2f2;
  --board-footer: #bbbbbb;
  --square-bg: #ffffff;
  --square-border: #cccccc;
  --square-hover-bg: #f7f7f7;
  --square-winner-bg: #e6f7ec;
  --square-winner-border: #1db954;
}

:root[data-theme="retro"], [data-theme="retro"] {
  --color-bg: #10171a;
  --color-text: #e5ffcc;
  --color-muted: #a3b3a3;

  --board-bg: #10411b;
  --board-footer: #0b2e13;
  --square-bg: #0d1f12;
  --square-border: #2e5e3e;
  --square-hover-bg: #12351a;
  --square-winner-bg: #165c26;
  --square-winner-border: #8cff66;
}
