.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.654);
  display: grid;
  place-items: center;
  z-index: 50;
}

.modal {
  position: fixed;
  inset: var(--space-15);
  background: var(--square-bg);
  color: var(--color-text);
  border-radius: var(--rounded-20);
  padding: var(--space-10);
  min-width: 280px;
  max-width: 400px;
  height: fit-content;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

  .actions {
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}